<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Live synchronous sessions</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Thursday 8th 10:00 - 12:00</td>        <!-- time    -->
        <td>Welcome, introduction and setup</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td> Tuesday 13th 10:00 - 12:00</td>        <!-- time    -->
        <td>Shell Q&A, HPC introduction and Myriad logon</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>Friday 16th 10:00 - 12:00</td>        <!-- time    -->
        <td>HPC Q&A</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Wednesday 21st 10:00 - 12:00</td>        <!-- time    -->
        <td>HPC Q&A, parallel challenge and wrap up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Asynchronous work</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Thursday 8th - Monday 12th</td>        <!-- time    -->
        <td>Bash shell, HPC introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Tuesday 13th - Thursday 15th</td>        <!-- time    -->
        <td>Connecting, exploring resources, scheduler fundamentals and accessing software</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Friday 16th - Wednesday 21st</td>        <!-- time    -->
        <td>Transfering files, running a parallel job, using shared resources responsibly</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
